{% extends 'admin.html.twig' %}

{% block title %}User | liste{% endblock %}

{% block body %}
<div class="content"style="width: 90%">
    <h1 class="contenth1">Gestion des utilisateurs</h1>

    <table class="table table-striped table-bordered table-responsive">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Numéro</th>
                <th scope="col">Pseudonyme</th>
                <th scope="col">Roles</th>
                <th scope="col">Password</th>
                <th scope="col">Email</th>
                <th scope="col">Date de création</th>
                <th scope="col">Derniére connexion</th>
                <th scope="col">Nb de victoire</th>
                <th scope="col">Nb de défaite</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr scope="row">
                <td>{{ user.id }}</td>
                <td>{{ user.userSpeudo }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.userEmail }}</td>
                <td>{{ user.userDate ? user.userDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.userDerniere ? user.userDerniere|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.userWin }}</td>
                <td>{{ user.userLoose }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">voir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">pas d'entrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}"><button class="btn btn-secondary btn-lg btn-block">nouvelle entrée</button></a>
{% endblock %}
